In [3]:
import numpy as np
import pandas as pd

In [171]:
df = pd.read_csv("Clean_Dataset.csv")
df.drop("Unnamed: 0",axis=1,inplace=True)

In [173]:
df.columns

Index(['airline', 'flight', 'source_city', 'departure_time', 'stops',
       'arrival_time', 'destination_city', 'class', 'duration', 'days_left',
       'price'],
      dtype='object')

In [174]:
df.head()
df.shape

(300153, 11)

In [65]:
df.dtypes

#flight -> ohe with others etc

# normal ohe -> source_city , destination_city  , airline 

# ordinal encoding -> departure_time , arrival_time , stops , class

airline              object
flight               object
source_city          object
departure_time       object
stops                object
arrival_time         object
destination_city     object
class                object
duration            float64
days_left             int64
price                 int64
dtype: object

In [66]:
for i in df.columns:
    print(df[i].value_counts())
    print("___________________")

airline
Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: count, dtype: int64
___________________
flight
UK-706     3235
UK-772     2741
UK-720     2650
UK-836     2542
UK-822     2468
           ...
SG-9923       1
6E-6474       1
6E-865        1
G8-705        1
G8-107        1
Name: count, Length: 1561, dtype: int64
___________________
source_city
Delhi        61343
Mumbai       60896
Bangalore    52061
Kolkata      46347
Hyderabad    40806
Chennai      38700
Name: count, dtype: int64
___________________
departure_time
Morning          71146
Early_Morning    66790
Evening          65102
Night            48015
Afternoon        47794
Late_Night        1306
Name: count, dtype: int64
___________________
stops
one            250863
zero            36004
two_or_more     13286
Name: count, dtype: int64
___________________
arrival_time
Night            91538
Evening          78323
Morning          62735
Afternoon        38139
Early_Morning    15417
Late_Night       14001
Name: count, dtype: int64
___________________
destination_city
Mumbai       59097
Delhi        57360
Bangalore    51068
Kolkata      49534
Hyderabad    42726
Chennai      40368
Name: count, dtype: int64
___________________
class
Economy     206666
Business     93487
Name: count, dtype: int64
___________________
duration
2.17     4242
2.25     4036
2.75     2879
2.08     2755
2.83     2323
         ...
37.17       1
38.75       1
38.50       1
36.25       1
41.50       1
Name: count, Length: 476, dtype: int64
___________________
days_left
25    6633
18    6602
39    6593
32    6585
26    6573
24    6542
19    6537
31    6534
33    6532
40    6531
41    6525
28    6522
38    6512
20    6502
30    6501
42    6497
22    6494
36    6490
21    6479
37    6476
43    6472
44    6436
17    6419
11    6417
34    6412
13    6404
23    6401
29    6397
12    6381
27    6360
14    6349
15    6340
45    6314
35    6291
16    6272
46    6160
49    6154
48    6078
47    6069
10    5822
8     5767
6     5740
7     5703
9     5665
5     5392
4     5077
3     4248
2     4026
1     1927
Name: count, dtype: int64
___________________
price
54608    1445
2339     1442
54684    1390
60978    1383
60508    1230
         ...
12014       1
26912       1
20145       1
25462       1
7533        1
Name: count, Length: 12157, dtype: int64
___________________

In [59]:
temp=df["flight"].value_counts()[df["flight"].value_counts()<5].index

# or write it like 
s = df["flight"].value_counts()
temp = s[s<5].index

In [93]:
df[df.flight.isin(temp)]

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
159,Indigo,6E-2022,Delhi,Early_Morning,one,Evening,Mumbai,Economy,10.25,2,8396
282,Indigo,6E-2022,Delhi,Early_Morning,one,Evening,Mumbai,Economy,10.25,3,7420
329,Air_India,AI-9911,Delhi,Morning,one,Afternoon,Mumbai,Economy,26.08,3,13086
445,Indigo,6E-2022,Delhi,Early_Morning,one,Evening,Mumbai,Economy,10.25,4,5955
621,SpiceJet,SG-8339,Delhi,Morning,one,Afternoon,Mumbai,Economy,24.67,5,5955
...,...,...,...,...,...,...,...,...,...,...,...
211488,Air_India,AI-433,Delhi,Afternoon,one,Afternoon,Mumbai,Business,27.50,45,44025
211572,Air_India,AI-487,Delhi,Early_Morning,one,Evening,Mumbai,Business,9.75,46,39622
211574,Air_India,AI-487,Delhi,Early_Morning,one,Night,Mumbai,Business,17.00,46,39622
211711,Air_India,AI-433,Delhi,Afternoon,one,Afternoon,Mumbai,Business,27.50,47,44025
211923,Air_India,AI-433,Delhi,Afternoon,one,Afternoon,Mumbai,Business,27.50,49,44025

In [135]:
df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [71]:
# making column transformations

In [175]:
X_train.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
115285,115285,GO_FIRST,3,Bangalore,Night,one,Morning,Hyderabad,Economy,12.83,47
4664,4664,Vistara,4,Delhi,Afternoon,zero,Afternoon,Mumbai,Economy,2.17,25
179922,179922,Indigo,2,Hyderabad,Afternoon,one,Night,Chennai,Economy,7.25,43
74271,74271,Vistara,4,Mumbai,Evening,one,Evening,Hyderabad,Economy,21.25,29
183212,183212,Vistara,4,Chennai,Night,one,Morning,Delhi,Economy,11.58,22

In [81]:
df["class"].value_counts()

class
Economy     206666
Business     93487
Name: count, dtype: int64

In [178]:
c = df["flight"].value_counts()
index_less_than_10 = c[c<=10].index
index_less_than_100 = c[(c<=100) & (c>10)].index
index_less_than_500 = c[(c<=500) & (c>100)].index
index_greater_than_500 = c[c>500].index

In [179]:
print(len(index_less_than_10))
print(len(index_less_than_100))
print(len(index_less_than_500))
print(len(index_greater_than_500))

274
732
411
144

In [180]:
# to_replace=df["location"].value_counts()[df["location"].value_counts()<10].index

# df['location'].replace(to_replace, 'others',inplace=True)

df['flight'].replace(index_less_than_10, 1,inplace=True)
df['flight'].replace(index_less_than_100, 2,inplace=True)
df['flight'].replace(index_less_than_500, 3,inplace=True)
df['flight'].replace(index_greater_than_500, 4,inplace=True)

In [162]:
df["flight"].value_counts()

flight
4    174433
3     89803
2     34385
1      1532
Name: count, dtype: int64

In [200]:
from sklearn.model_selection import train_test_split

X=df.drop("price",axis=1)
y=df["price"]
X_train , X_test , y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=123)

In [182]:
X_train.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
115285,GO_FIRST,3,Bangalore,Night,one,Morning,Hyderabad,Economy,12.83,47
4664,Vistara,4,Delhi,Afternoon,zero,Afternoon,Mumbai,Economy,2.17,25
179922,Indigo,2,Hyderabad,Afternoon,one,Night,Chennai,Economy,7.25,43
74271,Vistara,4,Mumbai,Evening,one,Evening,Hyderabad,Economy,21.25,29
183212,Vistara,4,Chennai,Night,one,Morning,Delhi,Economy,11.58,22

In [211]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import StandardScaler


#flight -> ohe with others etc

# normal ohe -> source_city , destination_city  , airline   , class

# ordinal encoding -> departure_time , arrival_time , stops 
transformer = ColumnTransformer(
    transformers= [ 
    ("normal_ohe" , OneHotEncoder(sparse_output=False,drop='first'),["source_city","destination_city","airline","class"]),
    ("ordinal_atime" , OrdinalEncoder(categories=[["Early_Morning","Morning","Afternoon","Evening","Night","Late_Night"]]),["arrival_time"]),
    ("ordinal_dtime" , OrdinalEncoder(categories=[["Early_Morning","Morning","Afternoon","Evening","Night","Late_Night"]]),["departure_time"]),
    ("ordinal_stops" , OrdinalEncoder(categories=[["zero","one","two_or_more"]]),["stops"]),
    # ("scalar",StandardScaler(),),
    

    # ("ordinal_encoding" , KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='quantile'),["stops"]),

    ], remainder='passthrough'
)

In [212]:
transformer.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('normal_ohe',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['source_city', 'destination_city', 'airline',
                                  'class']),
                                ('ordinal_atime',
                                 OrdinalEncoder(categories=[['Early_Morning',
                                                             'Morning',
                                                             'Afternoon',
                                                             'Evening', 'Night',
                                                             'Late_Night']]),
                                 ['arrival_time']),
                                ('ordinal_dtime',
                                 OrdinalEncoder(categories=[['Early_Morning',
                                                             'Morning',
                                                             'Afternoon',
                                                             'Evening', 'Night',
                                                             'Late_Night']]),
                                 ['departure_time']),
                                ('ordinal_stops',
                                 OrdinalEncoder(categories=[['zero', 'one',
                                                             'two_or_more']]),
                                 ['stops'])])

In [213]:
X_train_trf=transformer.transform(X_train)
X_test_trf=transformer.transform(X_test)

In [205]:
X_train_trf.shape

(240122, 19)

In [207]:
X_test_trf.shape

(60031, 19)

In [215]:
from sklearn.linear_model import LinearRegression

lr=LinearRegression()


lr.fit(X_train_trf,y_train)
y_pred=lr.predict(X_test_trf)

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

print("RMSE : ", mean_squared_error(y_test,y_pred))

print("MAE : ", mean_absolute_error(y_test,y_pred))

print("R2 Score : ", r2_score(y_test,y_pred))

RMSE :  46442993.44528103
MAE :  4529.063248693722
R2 Score :  0.9095079507195369

In [216]:
from sklearn.ensemble import RandomForestRegressor

rf=RandomForestRegressor()


rf.fit(X_train_trf,y_train)
y_pred=rf.predict(X_test_trf)

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

print("RMSE : ", mean_squared_error(y_test,y_pred))

print("MAE : ", mean_absolute_error(y_test,y_pred))

print("R2 Score : ", r2_score(y_test,y_pred))

RMSE :  7367939.611469283
MAE :  1043.3584262178167
R2 Score :  0.9856439065409919